* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.weather-container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.weather-container h1 {
    margin-bottom: 20px;
    color: #1976d2;
}
.search-box {
    gap: 10px;
    display:flex;
    margin-bottom: 25px;
}
.search-box input {
    padding: 10px;
    width: 70%;
    flex:1;
    font-size: 16px;
    border: 1px solid #1976d2;
    border-radius: 5px;
}
.search-box button {
    padding: 10px 15px;
    background-color: #1976d2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.search-box button:hover {
    background-color: #1565c0;
}